@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  /* biome-ignore lint/correctness/noUnknownProperty: <themes> */
  themes:
    nord --default,
    dracula --prefersdark;
}
@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));
@custom-variant light (&:where([data-mode="light"], [data-mode="light"] *));

@layer base {
  html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
  }
}
