<script>
  import { gsap } from "gsap";

  const box = document.getElementById("box");
  const myTimeline = gsap.timeline();

  myTimeline
    .from(box, {
      opacity: 0,
    })
    .to(box, {
      opacity: 1,
      duration: 0.25,
    });
</script>

<div id="box"></div>
