---
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="w-full bg-base-100 shadow-sm">
  <div class="navbar max-w-2xl lg:max-w-4xl mx-auto px-4 py-4">
    <div class="navbar-start">test</div>
    <div class="navbar-center">
      <a class="btn btn-ghost text-xl">iceship's log</a>
    </div>
    <div class="navbar-end">
      <ThemeIcon />
    </div>
  </div>
</header>
